  <h3>Product has been successfully added to the cart<h3>

  <a href={{path('app_pay', {'id': cart.id})}}><button>Pay now</button></a>

  <a href={{path('app_cancel', {'id': cart.id})}}><button>Cancel</button></a>