{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}

{% block body %}
<h1>Welcome to the home page</h1>

{% for product in products %}
<P>{product.name}</p>
<P>{product.price}</p>
{% endfor %}


<a href="{{path('security_logout')}}"><button>logout</button></a>

{% endblock %}